@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
    box-sizing: border-box;
}

body{
    background: white;
    height: 100vh;
    font-family: "Outfit";
}
i{
    font-size: 16px;
}
.container{
    height: 100%;
    display: flex;
}
.sideNavigation{
    width: 350px;
    background: #f0f4f9;
    padding: 1rem;
    transition: all0.3s ease-in-out;
}

.sideNavigation .topBarAction{
    margin: 15px;
    cursor: pointer;
}
.sideNavigation .topBarAction i {
    font-size: 18px;
}

.sideNavigation .sideNavButton{
    margin-top: 50px;
    margin-bottom: 30px  ;
}
.sideNavigation .chatHistory{
   max-height: 250px;
   overflow-y:scroll ;
}

.sideNavigation .chatHistory ::-webkit-scrollbar {
   display: none;

 }
 .sideNavigation .chatHistory h5{
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin: 15px 5px;
 }
 ul{
    list-style-type: none;
 }
 .sideNavigation .chatHistory li{
   height: 40px;
   border-radius: 50px;
   display: flex;
   align-items: center;
   padding: 10px;
   cursor: pointer;
   font-size: 14px;
   display: inline-block;
   width: 225px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }
 .sideNavigation .chatHistory i{
    padding-right: 10px;
 }
 .sideNavigation .chatHistory li:hover{
background: #dde3ea;
 }