@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
    box-sizing: border-box;
}

body {
    background: white;
    height: 100vh;
    font-family: "Outfit";
}

i {
    font-size: 16px;
}

.container {
    height: 100%;
    display: flex;
}

.sideNavigation {
    width: 350px;
    background: #f0f4f9;
    padding: 1rem;
    transition: all0.3s ease-in-out;
}

.sideNavigation .topBarAction {
    margin: 15px;
    cursor: pointer;
}

.sideNavigation .topBarAction i {
    font-size: 18px;
}

.sideNavigation .sideNavButton {
    margin-top: 50px;
    margin-bottom: 30px;
}

.sideNavigation .chatHistory {
    max-height: 250px;
    overflow-y: scroll;
}

.sideNavigation .chatHistory ::-webkit-scrollbar {
    display: none;

}

.sideNavigation .chatHistory h5 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin: 15px 5px;
}

ul {
    list-style-type: none;
}

.sideNavigation .chatHistory li {
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    width: 225px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sideNavigation .chatHistory i {
    padding-right: 10px;
}

.sideNavigation .chatHistory li:hover,
.sideNavigation .actionList button:hover {
    background: #dde3ea;
}

.sideNavigation .sideNavButton button {
    height: 40px;
    width: 140px;
    border-radius: 50px;
    outline: none;
    border: none;
    background: #dde3ea;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.3s;
    cursor: pointer;
}

.sideNavigation .actionList {
    position: fixed;
    bottom: 15px;
    display: flex;
    flex-direction: column;
}

.sideNavigation .actionList button {
    margin: 1px;
    padding: 10px;
    text-align: left;
    border: 50px;
    border: none;
    outline: none;
    width: 230px;
    cursor: pointer;
    background: transparent;
    transition: 0.3s;
}

.sideNavigation .actionList button .collapseText {
    padding: 0 10px;

}
.sideNavigation.expandClose {
    width: 68px; /* Collapsed width */
}

.sideNavigation.expandClose .collapseText {
    display: none; /* Hide text */
}

.sideNavigation.expandClose .chatHistory {
    display: none; /* Hide chat history */
}

.sideNavigation.expandClose .sideNavButton button,
.sideNavigation.expandClose .actionList button {
    width: 45px; /* Shrink button width */
    text-align: center; /* Center-align icons */
}

.chatWindow {
    width: 100%;
    margin: 5rem;
    display: flex;
    justify-content: center;
}

.chatWindow .startContent {
    min-width: 830px;
}

.chatWindow .startContent h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: normal;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin-top: 18px;
}

.chatWindow .startContent h1 .brandHello {
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 227, 7, 1) 50%, rgba(0, 0, 0, 1) 100%);

    background-size: 40% 100%;
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.chatWindow .startContent .brandQuestion {
    color: #c4c7c5;
}

.chatWindow .startContent ul {
    display: inline-flex;
    width: 830px;
    margin-top: 50px;
}

.chatWindow .startContent ul li {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.chatWindow .startContent ul li:hover {
    background: #dde3ea;
}

.chatWindow .startContent .promptSuggestion{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 150px;
}
.chatWindow .startContent .promptSuggestion p{
    margin: 1rem;
}

.chatWindow .startContent .promptSuggestion .icon{
   text-align: end;
}

.chatWindow .startContent .promptSuggestion .i{
   background: #fff;
   padding: 10px;
   border-radius: 50px;
 }


.chatWindow .chatContent{
    overflow-y: scroll;
    width: 900px;
    height: 650px;
}
.chatWindow .chatContent::-webkit-scrollbar{
   display: none;
}

.inputArea, .privacyPolicy{
    position: fixed;
    bottom: 30px;
    display: flex;
    background: #f0f4f9;
    border-radius: 50px;
    padding: 4px 8px;
    text-align: center;
}
.privacyPolicy{
    bottom: 5px;
    font-size: 12px;
    background: transparent;
    text-align: center;
}

.inputArea input{

    width: 800px;
    height: 50px;
    padding: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    background: transparent;

}
.startContent .privacyPolicy{
    text-align: center;
}

.inputArea .iconGroup{
    position: relative;
    right: 5px;
}
.inputArea .iconGroup i {
    padding: 15px;
    font-size: 15x;
    cursor: pointer;
    transition: .5s;
}

.inputArea .iconGroup i:nth-child(3) {
   display: none;
}
